{% extends 'base.html' %}
{% block content %}
<div class="container content-container">
   <div class="jumbotron jumbotron-fluid cover-picture">
      <div class="container">
         <!-- <h2 class="display-5 center-text">Welcome</h2> -->
         <p class="lead center-text"> This is a place for leisure hikers to share their favorite hikes. If you create an account, you'll have the opportunity to add your own hikes or reviews on previously posted hikes! Below is the current list of hikes.</p>
      </div>
   </div>
   <div class="list-container">
      <ul class="hike-list">
         {% for trail in trails %}
         <div style="text-align: center;">
            <li><a href="{% url 'trail_detail' trail_id=trail.id %}">{{ trail.hike_name }}</a></li>
         </div>
         {% endfor %}
      </ul>
   </div>
   {% if user.is_authenticated %}
   <hr>
   <div class="center-text">
      <form name="new_trail" method="POST" action="{% url 'new_trail' %}">
         {% csrf_token %} 
         <input type="submit" style="background-color:black;color:white;" value="Create new trail" />
      </form>
   </div>
   {% endif %}
   <br>
</div>
{% endblock %}