{% extends 'base.html' %}
{% block content %}
<div>
<h1 style="text-align: center;"> All Trails </h1>
</div>
<hr>
<ul style="list-style-type: none; padding:0; margin:0;">
  {% for trail in trails %}
    <div style="text-align: center;">
      <li><a href="{% url 'trail_detail' trail_id=trail.id %}">{{ trail.hike_name }}</a></li>
    </div>
  {% endfor %}
</ul>
<hr>
{% if user.is_authenticated %}
<center><form name="new_trail" method="POST" action="{% url 'new_trail' %}">
 {% csrf_token %} 
<input type="submit" style="background-color:black;color:white;" value="Create new trail" />
</form></center>
{% endif %}

<br>
{% endblock %}